/*header css*/

.heading {
	font-size: 40px;
	text-align: center;
	padding: 20px;
	font-style: italic;
	text-transform: capitalize;
}

.logo {
	height: 50px;
	width: 50px;
}

/*==========================*/
/*quiz card*/
/*==========================*/

.quiz-card {
	width: 50%;
	border-radius: 5px;
	padding: 20px 40px;
	margin: 10px auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.questions {
	display: flex;
	justify-content: space-around;
}

.quiz-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile-container input {
	display: block;
}